#header{
  position: top;
  width: 100%;
  height: 110px;
  display: inline-flex;
}
#footer{
  position: bottom;
  width: 100%;
  height: 300px;
  background: #000;
  color: #fff;
  text-align: center;
}
.about-clr{
  color: white ;
}
.techoutslogodiv{
  position: relative;
  height: 110px;
  background: red;
  top: 10px;
}
.about{
  color: rgba(0,0,0,.4);
  text-decoration: none;
  position: relative;
  margin-left: 50px;
  height: 50px;
  top: 21px;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: .2em;
  text-transform: uppercase;
  cursor: pointer;
}
.about:hover{
  color: #000;
}
.listnames{
  position: absolute;
  display: none;
  z-index: 1;
  left: -10px;
}
.listnames a{
  position: relative;
  display: block;
  padding: 12px 15px 5px 1px;
  text-decoration: none;
  color: rgba(0,0,0,.4);
  top: -15px;
}
a:hover{
  color: #222;

}
.about:hover .listnames{
  display: block;
  padding: 5px 7px;
  background: rgba(245, 241, 241, 0.884);
  padding: 5px;
}
.join{
  color: #fff;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 30px;
  font-weight: 800;
  font-style: normal;
  text-transform: capitalize;
}
.familypara{
  font-family: Arial,Helvetica,sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: red;
}
.nameinput{
  position: relative;
  height: 30px;
  margin-left: 10px;
}
.buttonsign{
  position: absolute;
  left: 10px;
  top: -1px;
}
.information{
  position: relative;
  display:grid;
  grid-template-columns: auto auto auto auto;
  /* width: 100%; */
  text-align: center;
}
.person1{
  position: relative;
  text-align: center;
  display: inline;
  padding: 20px;
  margin-left: 25px;
  margin-top: 20px;
  /* margin: 20px 30px 30px 20px ; */
  /* border: 1px solid #222; */
  border-radius: 5px;
  width: 290px;
  box-shadow: 2px 2px 7px rgb(106, 105, 105);
}
.avatarpic{
  position: relative;
  width: 100px;
  left: 50px;
  margin-top: 20px;
}
.avatarpic:hover{
  transform: scale(1.1);
}
.paralines{
  font-family: Arial,Helvetica,sans-serif;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  letter-spacing: 1px;

}
a{
  color: #222;
  cursor: pointer;
  text-decoration: none;
}
.homepath a{
  color: rgba(0,0,0,.4);
  text-decoration: none;
  position: relative;
  margin-left: 600px;
  height: 50px;
  top: 0px;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: .2em;
  text-transform: uppercase;
  cursor: pointer;
  top: 23px;
}
a:hover{
  color: #222;
}
.rightsidecontent{
  position: relative;
  background: #08131b;
  width: 100%;
  height: 500px;
}
.rightsidecontentpara{
  position: relative;
  color: #ffffff;
  width: 600px;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 21px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: .2em;
  cursor: pointer;
  top: 23px;
  left: 900px;
}
.topline{
  font-family: Arial,Helvetica,sans-serif;
  font-size: 21px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  cursor: pointer;
  top: 23px;
}
.socialmedia{
  position: relative;
  margin-top: 20px;
}
.srch{
  border:1px solid rgba(0, 0, 0, 0.281)
}
.srchi{
  border:1px solid rgba(0, 0, 0, 0.336);
  border-radius: 50% 0% 0% 50%;
  
  padding: 5.5px;
}
.aboutline{
color: rgba(0,0,0,.4);
font-size: 14px;
}
.aboutline:hover{
  color: #000;
}
.line{
  color: #ffffff;
}
#anchor{
  color: #000;
}
.homepath2{
  position: relative;
  top: -5px;
}
.personname{
  position: relative;
  left: -20px;
}